/*https://htmlcolorcodes.com/*/
.navbar {
    background-color: #0E6655;
}

.quem-somos {
    background-color: #B2BABB;
}

.margin {
    /*padding é uma margem interna do conteudo*/
    padding-top: 50px;
 }